.navbar-brand{
    margin-left: 2%;
    font-size: x-large;
}

.nav-item{
    margin-top: 3%;
}

.nav-item:first-child{
    margin-left: 8%;
}

#btn-logout{
    margin-right:  20px;
}

i{
    font-size: 1.5rem; 
}

tr{
    vertical-align: middle;
}

a{
    cursor: pointer;
    color: 'Black'
}

.sec-uno{
    height: 65vh;
}

.sec-tres{
    padding-right: 92%;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}

.page-link {
    color: #000000;
}

.page-link:hover{
    color: #000000;
}